<header class="hidden header">
  <div class="hidden header-container center">
    <div class="logo center">
      <div class="imdb-logo" (click)="goToHomePage()">
        IMDb
      </div>
    </div>

    <nav class=" hidden nav-buttons center" *ngIf="authService.isLoggedIn">
      <button class="logout-button" mat-raised-button (click)="onLogout()">Çıkış Yap</button>
      <button class="add-movie-button" mat-raised-button (click)="goToSearchPage()">Film Ekle</button>
    </nav>
  </div>
</header>