  .details-container {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .details-field {
    width: 100%;
    margin-bottom: 16px;
    input{
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  
  @media (min-width: 768px) {

    .details-container {
      margin: 16px;
    }
  
  }
  
  .submit-button{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
  }
  