.main-container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 0 auto;
  }
  
  .search-container {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .search-field {
    width: 100%;
  }
  
  .movie-list {
    max-height: 300px; 
    overflow-y: auto;
  }
  
  .movie-poster {
    width: 50px;
    height: 75px;
    margin-right: 12px;
  }
  
  .movie-title {
    flex: 1;
    width: 400px;
  }
  
  .details-container {
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .details-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  .submit-button {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .main-container {
      flex-direction: row;
      justify-content: center;
    }
  
    .search-container{
      margin: 16px;
    }
  
    .movie-poster {
      width: 70px;
      height: 100px;
    }
  }
  
  @media (min-width: 1024px) {
    .main-container {
      max-width: 1200px;
    }
  
    .movie-list {
      max-height: 500px;
    }
  
    .movie-item {
      font-size: 1.1em;
    }
  }
  